body {
  background: #e8eaf1;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.markdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.editorTitleContainer {
  height: 3em;
  background: #ccc;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.editorTitleContainer img {
  height: 80%;
  margin: 0 1em 0 0.5em;
}

textarea {
  background: #eff1f5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: none;
  border: none;

  padding: 20px;
  font-size: 18px;
  margin: 0;
  min-height: 40vh;
  width: 60vw;
  margin-bottom: 1em;
}

#preview {
  padding: 20px;
  width: 80vw;
  background: #eff1f5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

#preview img {
  max-width: 95%;
}
